<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.
com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundleExecutable</key>
        <string>GRBLr</string>
        <key>CFBundleGetInfoString</key>
        <string>1.0, foo</string>
        <key>CFBundleIdentifier</key>
        <string>org.gotpike.GRBLr</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>WvTx</string>
        <key>NSMainXibFile</key>
        <string>GRBLr</string>
        <key>NSPrincipalClass</key>
        <string>NSApplication</string>
</dict>
</plist>
